<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @picksheet.year %>
</p>

<p>
  <b>Name:</b>
  <%= @picksheet.name %>
</p>

<p>
  <b>R1g01:</b>
  <%= @picksheet.r1g01 %>
</p>

<p>
  <b>R1g02:</b>
  <%= @picksheet.r1g02 %>
</p>

<p>
  <b>R1g03:</b>
  <%= @picksheet.r1g03 %>
</p>

<p>
  <b>R1g04:</b>
  <%= @picksheet.r1g04 %>
</p>

<p>
  <b>R1g05:</b>
  <%= @picksheet.r1g05 %>
</p>

<p>
  <b>R1g06:</b>
  <%= @picksheet.r1g06 %>
</p>

<p>
  <b>R1g07:</b>
  <%= @picksheet.r1g07 %>
</p>

<p>
  <b>R1g08:</b>
  <%= @picksheet.r1g08 %>
</p>

<p>
  <b>R1g09:</b>
  <%= @picksheet.r1g09 %>
</p>

<p>
  <b>R1g10:</b>
  <%= @picksheet.r1g10 %>
</p>

<p>
  <b>R1g11:</b>
  <%= @picksheet.r1g11 %>
</p>

<p>
  <b>R1g12:</b>
  <%= @picksheet.r1g12 %>
</p>

<p>
  <b>R1g13:</b>
  <%= @picksheet.r1g13 %>
</p>

<p>
  <b>R1g14:</b>
  <%= @picksheet.r1g14 %>
</p>

<p>
  <b>R1g15:</b>
  <%= @picksheet.r1g15 %>
</p>

<p>
  <b>R1g16:</b>
  <%= @picksheet.r1g16 %>
</p>

<p>
  <b>R1g17:</b>
  <%= @picksheet.r1g17 %>
</p>

<p>
  <b>R1g18:</b>
  <%= @picksheet.r1g18 %>
</p>

<p>
  <b>R1g19:</b>
  <%= @picksheet.r1g19 %>
</p>

<p>
  <b>R1g20:</b>
  <%= @picksheet.r1g20 %>
</p>

<p>
  <b>R1g21:</b>
  <%= @picksheet.r1g21 %>
</p>

<p>
  <b>R1g22:</b>
  <%= @picksheet.r1g22 %>
</p>

<p>
  <b>R1g23:</b>
  <%= @picksheet.r1g23 %>
</p>

<p>
  <b>R1g24:</b>
  <%= @picksheet.r1g24 %>
</p>

<p>
  <b>R1g25:</b>
  <%= @picksheet.r1g25 %>
</p>

<p>
  <b>R1g26:</b>
  <%= @picksheet.r1g26 %>
</p>

<p>
  <b>R1g27:</b>
  <%= @picksheet.r1g27 %>
</p>

<p>
  <b>R1g28:</b>
  <%= @picksheet.r1g28 %>
</p>

<p>
  <b>R1g29:</b>
  <%= @picksheet.r1g29 %>
</p>

<p>
  <b>R1g30:</b>
  <%= @picksheet.r1g30 %>
</p>

<p>
  <b>R1g31:</b>
  <%= @picksheet.r1g31 %>
</p>

<p>
  <b>R1g32:</b>
  <%= @picksheet.r1g32 %>
</p>

<p>
  <b>R2g01:</b>
  <%= @picksheet.r2g01 %>
</p>

<p>
  <b>R2g02:</b>
  <%= @picksheet.r2g02 %>
</p>

<p>
  <b>R2g03:</b>
  <%= @picksheet.r2g03 %>
</p>

<p>
  <b>R2g04:</b>
  <%= @picksheet.r2g04 %>
</p>

<p>
  <b>R2g05:</b>
  <%= @picksheet.r2g05 %>
</p>

<p>
  <b>R2g06:</b>
  <%= @picksheet.r2g06 %>
</p>

<p>
  <b>R2g07:</b>
  <%= @picksheet.r2g07 %>
</p>

<p>
  <b>R2g08:</b>
  <%= @picksheet.r2g08 %>
</p>

<p>
  <b>R2g09:</b>
  <%= @picksheet.r2g09 %>
</p>

<p>
  <b>R2g10:</b>
  <%= @picksheet.r2g10 %>
</p>

<p>
  <b>R2g11:</b>
  <%= @picksheet.r2g11 %>
</p>

<p>
  <b>R2g12:</b>
  <%= @picksheet.r2g12 %>
</p>

<p>
  <b>R2g13:</b>
  <%= @picksheet.r2g13 %>
</p>

<p>
  <b>R2g14:</b>
  <%= @picksheet.r2g14 %>
</p>

<p>
  <b>R2g15:</b>
  <%= @picksheet.r2g15 %>
</p>

<p>
  <b>R2g16:</b>
  <%= @picksheet.r2g16 %>
</p>

<p>
  <b>R3g01:</b>
  <%= @picksheet.r3g01 %>
</p>

<p>
  <b>R3g02:</b>
  <%= @picksheet.r3g02 %>
</p>

<p>
  <b>R3g03:</b>
  <%= @picksheet.r3g03 %>
</p>

<p>
  <b>R3g04:</b>
  <%= @picksheet.r3g04 %>
</p>

<p>
  <b>R3g05:</b>
  <%= @picksheet.r3g05 %>
</p>

<p>
  <b>R3g06:</b>
  <%= @picksheet.r3g06 %>
</p>

<p>
  <b>R3g07:</b>
  <%= @picksheet.r3g07 %>
</p>

<p>
  <b>R3g08:</b>
  <%= @picksheet.r3g08 %>
</p>

<p>
  <b>R4g01:</b>
  <%= @picksheet.r4g01 %>
</p>

<p>
  <b>R4g02:</b>
  <%= @picksheet.r4g02 %>
</p>

<p>
  <b>R4g03:</b>
  <%= @picksheet.r4g03 %>
</p>

<p>
  <b>R4g04:</b>
  <%= @picksheet.r4g04 %>
</p>

<p>
  <b>R5g01:</b>
  <%= @picksheet.r5g01 %>
</p>

<p>
  <b>R5g02:</b>
  <%= @picksheet.r5g02 %>
</p>

<p>
  <b>Champ:</b>
  <%= @picksheet.champ %>
</p>

<p>
  <b>Tiebreaker:</b>
  <%= @picksheet.tiebreaker %>
</p>


<%= link_to 'Edit', edit_picksheet_path(@picksheet) %> |
<%= link_to 'Back', picksheets_path %>
