<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.number_field :place %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :points %><br />
    <%= f.number_field :points %>
  </div>
  <div class="field">
    <%= f.label :tiebreaker %><br />
    <%= f.number_field :tiebreaker %>
  </div>
  <div class="field">
    <%= f.label "Pick %" %><br />
    <%= f.text_field :pickPct %>
  </div>
  <div class="field">
    <%= f.label "Predicted Champ" %><br />
    <%= f.text_field :predictedChamp %>
  </div>
  <div class="field">
    <%= f.label "Correct Champ?" %><br />
    <%= f.check_box :correctChamp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
