<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bbj2013_player.name %>
</p>

<p>
  <b>Email:</b>
  <%= @bbj2013_player.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @bbj2013_player.phone %>
</p>


<%= link_to 'Edit', edit_bbj2013_player_path(@bbj2013_player) %> |
<%= link_to 'Back', bbj2013_players_path %>
