    <div id="wrapper">
      <div class="container">
        <img src="images/header.gif" alt="BBJ header image" a$
        <div id="globalnav">
          <ul>
            <li><%= link_to "Home", 'root_path' %></li>
            <li><%= link_to "2013 Rules & Info", 'pickoff2013$
            <li><%= link_to "History", 'history_path' %></li>
            <li><%= link_to "Hall of Fame", 'halloffame_path'$
            <li><%= link_to "Champions", 'champions_path' %><$
            <li><%= link_to "Prominent Players", 'players_pat$
            <li class="last"><a href="http://www.mysideline.c$
          </ul>
        </div><!-- end #globalnav -->
        <div id="content">

